@charset "UTF-8";

/* 回答はここに書いてね */

/* Q7-1 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float_box {
  float: left;
  width: 225px;
  box-sizing: border-box;
  margin-left: 50px;
}

.float_box:first-child {
  margin-left: 0px;
}

/* Q7-2 */
.table_inner {
  display: table;
}

.table_box {
  display: table-cell;
  width: 225px;
  vertical-align: middle;
  padding-left: 50px;
}

.table_box:first-child {
  padding-left: 0px;
}

/* Q7-3 */
.inlineblock_inner {
  font-size: 0;
}

.inlineblock_box {
  display: inline-block;
  width: 225px;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 50px;
}

.inlineblock_box:first-child {
  margin-left: 0px;
}

/* Q7-4 */
.flex_inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.flex_box {
  width: 225px;
  box-sizing: border-box;
}

/* Q7-5 */
.margin_inner {
  font-size: 0;
}

.margin_box {
  display: inline-block;
  width: 300px;
  box-sizing: border-box;  
}

.margin_box_flex {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px; 
}

.margin_box, .margin_box_flex {
  font-size: 16px;
  vertical-align: top;
}

/* 回答はここに書いてね */
