@charset "UTF-8";

/* 回答はここに書いてね */
.food_diary {
  width: 100%;
  table-layout: fixed;
}

.food_diary th {
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
  color: #fff;
  border: solid #dedede 1px;  
}

.food_diary td {
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border: solid #dedede 1px;  
}

.food_diary_tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.food_diary_tfoot tr {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
